body { 
    background-color: aquamarine;
}

#game {
    color: #808080;
    width: 485px;
    height: 240px;
    font-size: 20px;
    border: 4px solid gray;
    padding: 20px;
    background-color: pink; 
    position: relative;
    top: 200px;
    left: 250px;
}

.zoltar {
    position: relative;
    top: 100px;
    right: 200px;
    float: right;
    border: 4px solid gray;
}

h1 {
 text-align: center;
 font-family: 'Homemade Apple', cursive;
 font-size: 40px;
}

p {
    font-family: 'Rock Salt', cursive;
    line-height: 35px;
}
